{% extends "master.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about_us_2.css' %}">
<div class="main">
    <div class="members">
            <div class="member-item">
                <div class="member-card">
                    <img class="membeer-pic" src="{% static 'niansprofile.jpg' %}" alt="نگین (نیان) نوراللهی مقدم">
                    <h3 class="member-name">نگین (نیان) نوراللهی مقدم</h3>
                    <div class="member-bio">
                        در 14 اردیبهشت 1382 در شهر ساری متولد شدم .علاقه‌مندی‌های من در زمینه شبکه و امنیت است.
                        در حال حاضر مشغول یادگیری برنامه‌نویسی با جنگو و یادگیری مقدماتی امنیت و شبکه هستم.
                    </div>
                </div>
            
            </div>
            <div class="member-item">
                <div class="member-card">
                    <img class="membeer-pic" src="{% static 'macansprofile.jpg' %}" alt="ماکان مهری">
                    <h3 class="member-name">ماکان مهری</h3>
                    <div  class="member-bio">
                        در 17 مهر 1380 در شهر گرگان متولد شدم. توانایی‌های من در زمینه بک-اند با جنگو است.
                        در حال حاضر مشغول برگزاری کلاس‌های برنامه‌نویسی مقدماتی و پیشرفته در دانشگاه گلستان هستم.
                
                    </div>
                </div>
            </div>
            <div class="member-item">
                <div class="member-card">
                    <img class="membeer-pic" src="{% static 'bitasprofile.jpg' %}" alt="بیتا امیری">
                    <h3 class="member-name">بیتا امیری</h3>
                    <div class="member-bio">
                        در 6 فروردین 1382 در شهر مشهد متولد شدم .توانایی من، فن بیان قوی برای پیشبرد اهداف پروژه با کارفرما است.
                        در حال حاضر کارآموز شرکت بسپار تابان هستم.
                    </div>
                </div>
            </div>
           
    </div>        

</div>
{% endblock %}
