{% extends "master.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/confirm_delete.css' %}">
<h1>حذف سفارش از منو</h1>
<p class="confirmation-text">آیا مطمئن هستید که می خواهید {{ menu_item.order.name }} را حذف کنید؟</p>
<div class="img-box">
    <img src= "{% static 'delete.png' %}" class="img">
</div>

<form method="post" class="delete-form">
    {% csrf_token %}
    <button type="submit" class="confirm-button">بله</button>
</form>

<a href="{% url 'menu_list' restaurant_id=restaurant.id %}" class="cancel-link">بازگشت</a>

{% endblock %}